<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>133734409134-rih5at3vkj1bf7fktdnh9qk38c4v4r5b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.133734409134-rih5at3vkj1bf7fktdnh9qk38c4v4r5b</string>
	<key>API_KEY</key>
	<string>AIzaSyDHD6W_hNEFJGATFGCNPM7B5LRYI9Rql6w</string>
	<key>GCM_SENDER_ID</key>
	<string>133734409134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sethkurkowski.Repayment-Plan</string>
	<key>PROJECT_ID</key>
	<string>repayment-plan-app</string>
	<key>STORAGE_BUCKET</key>
	<string>repayment-plan-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133734409134:ios:e51c1e763bab29f1</string>
	<key>DATABASE_URL</key>
	<string>https://repayment-plan-app.firebaseio.com</string>
</dict>
</plist>